<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Squad</title>
</head>
<body>
  <h1>Create a new Squad</h1>
  <form action="/squads" method="post">
  <p>
    <label for="name"></label>
      <p>
       <input type="text" name="name" id="name" placeholder="name" autofocus>
      </p>
      <p>
        <input type="text" name="mascot" id="mascot" placeholder="mascot">
      </p>
        <input type="submit"  value="Create">
     
  </p>
  </form>

</body>
</html>