<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<form action="/squads/:squad_id" method="post">
    <p>
      <input type="text" name="name " id="name" placeholder="name" autofocus>
    </p>
    <p>
      <input type="text" name="age " id="age">
    </p>
    <p>
      <input type="text" name="spirit_animal" id="spirit_animal">
    </p>
    <p>
      <input type="submit" value="Create Student">
    </p>
</form>
  
</body>
</html>