<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Roster</title>
</head>
<body>
   <h1>Students</h1>
   <% @students.each do |student| %>

  <h3> Name: <%= @student["name"] %></h3>
  <h3> Name: <%= @student["age"] %></h3>
  <h3> Name: <%= @student["spitit_animal"] %></h3>

  
<% end %>

  <p>
    <a href="">Edit student</a>
  </p>
  
</body>
</html>